<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Cloud Demo</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>

<main role="main" class="container">
    <h1>Hero List</h1>
    <div class="row col-md-7 table-responsive">
        <table id="customerTable" class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hero, rowStat: ${customers}"
                th:style="${rowStat.odd} ? 'color: gray' : 'color: black;'">
                <td th:text="${hero.name}">Jack</td>
                <td th:text="${hero.city}">New York</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a role="button" class="btn btn-outline-secondary" th:href="@{/hero/new}">Add new Hero</a>
    </div>

</main>
</body>
</html>