name: MavenBuild

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: "Maven Build"
    runs-on: ubuntu-latest
    container: "maven:3.8.4-eclipse-temurin-17"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven
      - name: 'Build'
        run: mvn -V --no-transfer-progress helm:init clean verify --fail-at-end
